body{
    
    background-image: url('giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    display:block;
    height: 600px;
    width: 900px;
    padding-left: 300px;
    padding-top: 70px;
    border-color: tomato;
    border-width: 10px;
    align-items: center;
    justify-content: center;
    padding: auto;
}
#searchField {
    align-items: center;
    align-self: center;
    width: 1200px;
    height: 30px;
    background-color:blanchedalmond;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
button{
    color: black;
    font-weight: bolder;
    background-color: yellow    ;
    height: 35px;
    width: 200px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}